on: [push]

jobs:
  pdf_creating_job:
    runs-on: ubuntu-latest
    name: Build resume from docker
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build docker
        run: docker build -t cvdocker .
      - name: Run docker (creating a pdf)
        run: docker run --mount src="$(pwd)/cv",target=/cv,type=bind cvdocker
      - uses: actions/upload-artifact@v2
        with:
          name: prog
          path: prog.c
